<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
        <add name="conn"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Acer\Documents\Users.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint name=""
                address="http://localhost:8080/chatservice"
                binding="wsDualHttpBinding"
                bindingConfiguration="DuplexBinding"
                contract="IChat" />
    </client>
    <bindings>
      <wsDualHttpBinding>
        <binding name="DuplexBinding">

          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>